.home-container {
  background-color: #fad088;
  display: flex;
  justify-content: center;
  height: 100vh; 
}

.home-content {
  text-align: center;
}

.title--main {
  font-size: 5rem;
  font-family: sans-serif;
  margin-bottom: 10rem;
}

.language-button {
  width: 400px; 
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 5em;
  font-size: x-large;
  margin: 0 11rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  text-align: center; 
  line-height: 25px;
}

a:visited, a:hover, a:focus {
  text-decoration: none;
  color: #fff;
}

.language-button:before {
  content: "";
  background: linear-gradient(
  45deg,
  #9c2b15,
  #c59f1e,
  #223d55,
  #9c2b15
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-language-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-language-button {
  0% {
  background-position: 0 0;
  }
  50% {
  background-position: 400% 0;
  }
  100% {
  background-position: 0 0;
  }
}

.explain-button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5em 1em;
  font-size: large;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.language-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
